---
const currentYear = new Date().getFullYear();
---

<div
  class="footer items-center justify-between p-4 bg-primary text-primary-content text-base text-center"
>
  <span class="flex">
    <p>
      Mate Portfolio - Powered by <a
        class="link link-hover link-accent"
        href="https://netlify.com"
        >Netlify
      </a>
    </p>
  </span>

  <span class="flex">
    <p>
      Built with <a
        class="link link-hover link-accent"
        href="https://astro.build">Astro</a
      > - {currentYear}
    </p>
  </span>
</div>
