---
import Wave from "./Wave.astro";

const author = {
  label: "Ema Suriano",
  href: "https://emasuriano.com",
};
---

<Wave direction="bottom" fill="fill-secondary" />

<div
  class="footer items-center justify-between p-4 bg-secondary text-secondary-content text-base text-center"
>
  <span class="flex ">
    <p>Mate Portfolio - Powered by</p>
    <a class="link link-hover link-primary" href="https://astro.build">Astro</a>
  </span>

  <span class="flex">
    <p>Developed by</p>
    <a href={author.href} class="link link-hover link-primary"
      >{author.label}
    </a>
  </span>
</div>
