---
const author = {
  label: "Ema Suriano",
  href: "https://emasuriano.com",
};
---

<div
  class="navbar text-primary-content bg-secondary flex flex-row justify-between"
>
  <span>
    <p class="text-base">Mate Portfolio - Powered by</p>
    <a class="link link-hover link-primary ml-1" href="https://astro.build"
      >Astro
    </a>
  </span>

  <span>
    <p>Developed by</p>
    <a href={author.href} class="link link-hover link-primary ml-1"
      >{author.label}
    </a>
  </span>
</div>
