---
import { Icon } from 'astro-icon';

const icon = '';
const sections = [
  {
    label: 'About me',
    href: '#about',
  },
  {
    label: 'Projects',
    href: '#projects',
  },
  {
    label: 'Writing',
    href: '#writing',
  },
];
---

<div class='navbar absolute top-0 inset-x-0 z-10 text-primary-content'>
  <div class='flex-1'>
    <a class='btn btn-ghost normal-case text-xl'>daisyUI</a>
  </div>
  <div class='flex-none'>
    <ul class='menu menu-horizontal p-0 space-x-1'>
      {sections.map((section) => (
        <li>
          <a href={section.href}>{section.label}</a>
        </li>
      ))}

      <li>
        <button data-toggle-theme='light,dark' data-act-class='light'>
          <Icon pack='ri' name='sun-line' class='w-6 h-6 toggle-light' />
          <Icon pack='ri' name='moon-line' class='w-6 h-6 toggle-dark' />
        </button>
      </li>
    </ul>
  </div>
</div>

<style>
  .toggle-dark,
  .light .toggle-light {
    display: none;
  }

  .light .toggle-dark {
    display: block;
  }
</style>
