---
import { Icon } from "astro-icon";

const sections = [
  {
    label: "About me",
    href: "#about",
  },
  {
    label: "Projects",
    href: "#projects",
  },
  {
    label: "Writing",
    href: "#writing",
  },
];
---

<div
  class="navbar absolute top-0 inset-x-0 z-10 text-primary-content bg-primary"
>
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href="/">daisyUI</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0 space-x-1" data-choose-theme>
      {sections.map((section) => (
        <li>
          <a href={section.href}>{section.label}</a>
        </li>
      ))}

      <li>
        <button
          data-set-theme="light"
          data-act-class="light"
          class="toggle-light"
        >
          <Icon pack="ri" name="sun-line" class="w-6 h-6" />
        </button>
        <button data-set-theme="dark" data-act-class="dark" class="toggle-dark">
          <Icon pack="ri" name="moon-line" class="w-6 h-6" />
        </button>
      </li>
    </ul>
  </div>
</div>

<style>
  .dark.toggle-light,
  .light.toggle-dark {
    display: block;
  }

  .dark.toggle-dark,
  .light.toggle-light {
    display: none;
  }
</style>
