---
import { Icon } from "astro-icon";
import { Link } from "../types";

type Props = {
  sections: Link[];
};

const { sections } = Astro.props as Props;
---

<div class="navbar top-0 inset-x-0 z-10 text-primary-content bg-primary -mb-1">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href="/">daisyUI</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0 space-x-1" data-choose-theme>
      {sections.map((section) => (
        <li class="hidden sm:inline">
          <a href={section.href}>{section.label}</a>
        </li>
      ))}

      <li class="inline sm:hidden">
        <a>
          Sections
          <svg
            class="fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            ><path
              d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"
            ></path>
          </svg>
        </a>

        <ul class="p-2 bg-base-100 text-base-content z-10">
          {sections.map((section) => (
            <li>
              <a href={section.href}>{section.label}</a>
            </li>
          ))}
        </ul>
      </li>

      <li>
        <button
          data-set-theme="dark"
          data-act-class="toggle-light"
          class="toggle-light"
        >
          <Icon name="ri:sun-line" class="w-6 h-6" />
        </button>
        <button
          data-set-theme="light"
          data-act-class="toggle-dark"
          class="toggle-dark"
        >
          <Icon name="ri:moon-line" class="w-6 h-6" />
        </button>
      </li>
    </ul>
  </div>
</div>

<style lang="scss" is:global>
  html[data-theme="light"] .toggle-light,
  html[data-theme="dark"] .toggle-dark {
    display: block;
  }

  html[data-theme="dark"] .toggle-light,
  html[data-theme="light"] .toggle-dark {
    display: none;
  }
</style>
