---
const projects = [
  {
    name: "Facebook",
    date: new Date(1, 1, 2004),
    description:
      "Facebook is a popular free social networking website that allows registered users to keep in touch with friends.",
  },
];
---

<section class="hero min-h-screen bg-base-300" id="projects">
  <div class="hero-content flex-col gap-8">
    <h1 class="text-5xl font-bold">Projects 🙋‍♂️</h1>

    <div class="flex flex-col lg:flex-row gap-8">
      <div class="card card-compact w-96 bg-base-100 shadow-xl">
        <figure>
          <img src="https://placeimg.com/500/225/arch" alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary btn-sm">Buy Now</button>
          </div>
        </div>
      </div>

      <div class="card card-compact w-96 bg-base-100 shadow-xl">
        <figure>
          <img src="https://placeimg.com/500/225/arch" alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary btn-sm">Buy Now</button>
          </div>
        </div>
      </div>

      <div class="card card-compact w-96 bg-base-100 shadow-xl">
        <figure>
          <img src="https://placeimg.com/500/225/arch" alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary btn-sm">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="less">

</style>
