---
export type Props = {
  words: string[];
};

const { words } = Astro.props;

const flip = "flip" + words.length;
---

<div class="text-loop">
  <ul class={flip}>
    {words.map((word) => <li>{word}</li>)}
  </ul>
</div>

<style>
  .text-loop {
    overflow: hidden;
    position: relative;
    height: 65px;
    padding-top: 10px;
    margin-top: -10px;
  }

  .text-loop li {
    font-weight: 700;
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
  }

  .flip2 {
    animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }
  .flip3 {
    animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }
  .flip4 {
    animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }
  .flip5 {
    animation: flip5 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }

  @keyframes flip2 {
    0% {
      margin-top: -180px;
    }
    5% {
      margin-top: -90px;
    }
    50% {
      margin-top: -90px;
    }
    55% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -180px;
    }
  }

  @keyframes flip3 {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }

  @keyframes flip4 {
    0% {
      margin-top: -360px;
    }
    5% {
      margin-top: -270px;
    }
    25% {
      margin-top: -270px;
    }
    30% {
      margin-top: -180px;
    }
    50% {
      margin-top: -180px;
    }
    55% {
      margin-top: -90px;
    }
    75% {
      margin-top: -90px;
    }
    80% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -360px;
    }
  }

  @keyframes flip5 {
    0% {
      margin-top: -450px;
    }
    5% {
      margin-top: -360px;
    }
    20% {
      margin-top: -360px;
    }
    25% {
      margin-top: -270px;
    }
    40% {
      margin-top: -270px;
    }
    45% {
      margin-top: -180px;
    }
    60% {
      margin-top: -180px;
    }
    65% {
      margin-top: -90px;
    }
    80% {
      margin-top: -90px;
    }
    85% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -450px;
    }
  }
</style>
