---
import type { Link } from "../types";

type Props = Link;

const { href, label } = Astro.props;
---

<h2 class="text-4xl">
  <a class="relative pb-0.5" href={href}>
    {label}
  </a>
</h2>

<style>
  a::after {
    @apply bg-secondary absolute bottom-0 left-0 inset-x-0 h-1 rounded opacity-0;
    content: "";
    transition: opacity 300ms, transform 300ms;
  }

  a:hover::after,
  a:focus::after {
    @apply opacity-100;
    transform: translate3d(0, 0.2em, 0);
  }
</style>
