---
import { generateWave } from "../helpers/generateWave";

const POSITION_CLASS = {
  top: "top-0 rotate-180",
  bottom: "bottom-0",
};

type Props = {
  position: keyof typeof POSITION_CLASS;
  fill: string;
  key?: number;
};

const { fill, position, key } = Astro.props;

const wavePath = generateWave(key);
---

<div class={`absolute ${POSITION_CLASS[position]} inset-x-0 ${fill}`}>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
    ><path fill="current" fill-opacity="1" d={wavePath}></path>
  </svg>
</div>
