---
import { generateWave } from "../helpers/generateWave";

const POSITION_CLASS = {
  top: "top-0 rotate-180",
  bottom: "bottom-0",
};

type Props = {
  direction: keyof typeof POSITION_CLASS;
  fill: string;
  key?: number;
};

const { fill, direction, key } = Astro.props as Props;

const wavePath = generateWave(key);
---

<div class="relative z-0">
  <div class={`absolute ${POSITION_CLASS[direction]} inset-x-0 ${fill}`}>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
      ><path fill="current" fill-opacity="1" d={wavePath}></path>
    </svg>
  </div>
</div>
