---
import IconLink from "../components/IconLink.astro";
import ScrollIcon from "../components/ScrollIcon.astro";
import TextLoop from "../components/TextLoop.astro";
import Wave from "../components/Wave.astro";
import { Config } from "../types";

type Props = Pick<Config, "name" | "roles" | "social">;

const { name, roles, social } = Astro.props as Props;

const words = roles.sort(() => Math.random());
---

<Wave direction="top" fill="fill-primary" key={1} />

<section class="hero min-h-screen bg-base-100" id="home">
  <div class="hero-content text-center text-primary z-10">
    <div class="max-w-md flex flex-col space-y-8">
      <h1 class="text-5xl font-bold">Hello, I'm {name}!</h1>
      <h2 class="text-4xl font-bold">
        <TextLoop words={words} />
      </h2>
      <div class="flex justify-center gap-4">
        {social.map((link) => <IconLink {...link} size={10} />)}
      </div>
    </div>

    <div class="absolute bottom-0 inset-x-0 mb-14">
      <ScrollIcon href="#about" />
    </div>
  </div>
</section>
