---
import ArticleCard from "../components/ArticleCard.astro";
import Title from "../components/Title.astro";
import Triangle from "../components/Triangle.astro";
import { getSectionLink } from "../helpers/sections";
import type { Config } from "../types";
import { articleListSchema } from "../validator";

const SECTION_ID = "writing";

type Props = Required<Pick<Config, "devToUser">>;

const { devToUser } = Astro.props;

const { label, href } = getSectionLink(SECTION_ID);

const articles = await fetch(
  `https://dev.to/api/articles?username=${devToUser}&per_page=6`
)
  .then((res) => res.json())
  .then(articleListSchema.parse);
---

<section class="relative hero min-h-screen" id="writing">
  <Triangle
    className="bg-accent w-[100vw] h-[15vh] md:h-[10vh]"
    position="top-left"
  />
  <Triangle
    className="bg-secondary w-[70vw] h-[50vh] md:w-[40vw] md:h-[40vh]"
    position="bottom-left"
  />
  <Triangle
    className="bg-primary w-[100vw] h-[40vh] md:h-[15vh]"
    position="bottom-right"
  />

  <div class="hero-content max-w-screen-xl z-10">
    <div class="flex flex-col gap-8">
      <Title href={href} label={label} />

      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 sm:gap-4 lg:gap-8"
      >
        {articles.map((article) => <ArticleCard article={article} />)}
      </div>
    </div>
  </div>
</section>
